.ug-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    pointer-events: none;
}

.ug-overlay #guider-svg {
    opacity: 0.5;
}

.ug-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    max-width: 300px;
    max-height: 200px;
    min-width: 200px;
    background-color: #fff;
    padding: 5px;
    margin: 10px;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    pointer-events: auto;
    opacity: 1 !important;
    border-width: 4px;
    border-style: double;
    border-color: #000;
}

.ug-container-title {
    font-size: 2em;
    font-weight: bold;
    align-items: center;
}

.ug-container-title, .ug-container-text {
    padding: 15px;
}

.ug-container-button {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    color: inherit;
}

.ug-container-button div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ug-container-button div * {
    padding: 5px 0;
    margin: auto;
}

.ug-bubble-top::before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    top: -10px;
    left: 5px;
}


.ug-bubble-bottom::before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    right: 5px;
    bottom: -10px;
}

.ug-bubble-bottom-left::before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 5px;
    bottom: -10px;
}

.ug-bubble-top-right::before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    top: -10px;
    right: 5px;
}

.ug-close-button {
    position: absolute;
    font-size: 0.7em;
    cursor: pointer;
    top: 5px;
    left: 5px;
    width: 0;
    height: 0;
}

.ug-close-button::after {
    content: "X";
    color: inherit;
}

/*.ug-animate {
    animation: ug-move ease-in-out 10s;
}

@keyframes ug-move {
    0% {opacity: 0}
    100% {opacity: 1}
}*/
